@inherits LayoutComponentBase

<style>
    fluent-card {
        width: 100%;
        height: inherit;
    }

    .elf-main {
        min-width: 0;
        width: 100%;
    }

    .elf-toast-container {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
    }

    .fluent-messagebar-container {
        max-width: 500px;
        margin: 0 auto;
    }
</style>

<div id="container" @ref="container">
    <FluentHeader>
        Elf Admin

        <FluentSpacer />

        <a class="nav-link" href="@Constants.APIAddress" target="_blank">@Constants.APIAddress</a>
        <FluentSpacer Width="20" />
        <LoginDisplay />
    </FluentHeader>

    <div class="d-flex elf-body-wrapper">
        <aside class="elf-nav">
            <NavMenu />
        </aside>
        <div class="elf-main me-3 ms-3">
            @Body
        </div>
    </div>
</div>

<div class="elf-toast-container">
    <FluentMessageBarProvider Section="MESSAGES_BOTTOM" />
</div>

<FluentDialogProvider />