@using Elf.Shared
@inject IConfiguration Configuration
@{
    var forwarderBaseUrl = Configuration["ForwarderBaseUrl"] ?? string.Empty;
}
<!DOCTYPE html>
<html lang="en" data-forwarder-base-url="@forwarderBaseUrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elf Admin</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("head", required: false)
</head>
<body class="bg-body-tertiary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Elf Admin</a>

                <div class="nav-appversion align-items-end">
                    @Utils.AppVersion
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-auto">
                <partial name="_Aside" />
            </aside>

            <main role="main" class="col">
                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_Toast" />

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.mjs" type="module" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>