a {
  text-decoration: none;
}

a.title {
  color: white;
}

.elf-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #3f51b5;
  color: #fff;
}

.elf-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.flex-spacer {
  flex-grow: 1;
}

.elf-navbar .elf-navbar-header a:hover,
.elf-navbar .elf-navbar-header a:focus {
  background: rgba(0, 0, 0, .4);
  color: #FFF;
}

.elf-navbar .elf-navbar-header a.active {
  background: rgba(0, 0, 0, .2);
}

.user-info {
  font-size: 14px;
}

.api-info {
  font-size: 14px;
  color: #F2F2F2;
}
