<nav class="elf-navbar mat-elevation-z6">
    <div class="elf-navbar-header">
        <a mat-button [routerLink]="['/']" (click)="setMenu('home')">
            <mat-icon class="me-2">home</mat-icon>
            Elf Admin
        </a>

        <a mat-button [routerLink]="['links']" [ngClass]="{'active': currentMenu == 'links'}"
            (click)="setMenu('links')">
            <mat-icon class="me-2">list</mat-icon>
            Links
        </a>

        <a mat-button [routerLink]="['tags']" [ngClass]="{'active': currentMenu == 'tags'}"
            (click)="setMenu('tags')">
            <mat-icon class="me-2">tag</mat-icon>
            Tags
        </a>

        <a mat-button [routerLink]="['report']" [ngClass]="{'active': currentMenu == 'report'}"
            (click)="setMenu('report')">
            <mat-icon class="me-2">pie_chart</mat-icon>
            Report
        </a>

        <div class="flex-spacer"></div>

        <div class="api-info me-3">
            <a mat-button href="{{ ENV.elfApiBaseUrl }}" target="_blank">
                <mat-icon class="me-2">language</mat-icon>
                {{ ENV.elfApiBaseUrl }}
            </a>
        </div>
        <div class="user-info d-flex me-3" *ngIf="loginDisplay">
            <mat-icon class="me-2">account_circle</mat-icon>
            {{ accountInfo.name }} ({{ accountInfo.username }})
        </div>

        <button mat-flat-button *ngIf="!loginDisplay" (click)="login()">Login</button>
        <button mat-flat-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
    </div>
</nav>
<router-outlet *ngIf="!isIframe"></router-outlet>