<nav class="elf-navbar mat-elevation-z6">
    <div class="elf-navbar-header">
        <a mat-button color="white" [routerLink]="['/']" (click)="setMenu('home')">
            <span class="bi-house me-2"></span>
            Elf Admin
        </a>

        <a mat-button color="white" [routerLink]="['links']" [ngClass]="{'active': currentMenu == 'links'}"
            (click)="setMenu('links')">
            <span class="bi-list me-2"></span>
            Links
        </a>

        <a mat-button color="white" [routerLink]="['tags']" [ngClass]="{'active': currentMenu == 'tags'}"
            (click)="setMenu('tags')">
            <span class="bi-tag me-2"></span>
            Tags
        </a>

        <a mat-button color="white" [routerLink]="['report']" [ngClass]="{'active': currentMenu == 'report'}"
            (click)="setMenu('report')">
            <span class="bi-pie-chart me-2"></span>
            Report
        </a>

        <div class="flex-spacer"></div>

        <div class="api-info me-3">
            <a mat-button color="white" href="{{ ENV.elfApiBaseUrl }}" target="_blank">
                <span class="bi-globe me-2"></span>
                {{ ENV.elfApiBaseUrl }}
            </a>
        </div>
        <div class="user-info d-flex me-3" *ngIf="loginDisplay">
            <span class="bi-person me-2"></span>
            {{ accountInfo.name }} ({{ accountInfo.username }})
        </div>

        <button mat-flat-button *ngIf="!loginDisplay" (click)="login()">Login</button>

        <button kendoButton *ngIf="loginDisplay" (click)="logout()">
            <span>Sign out</span>
        </button>
    </div>
</nav>
<router-outlet *ngIf="!isIframe"></router-outlet>