@section scripts{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/jquery-utc-time.min.js"></script>
<script>
    $(function () {
        var table = $(".table-links").DataTable({
            "order": [[4, "desc"]],
            "processing": true,
            // "serverSide": true,
            "ajax":
            {
                url: "/link/list",
                type: "POST"
            },
            "columns": [
                { "data": "fwToken" },
                { "data": "originUrl" },
                { "data": "isEnabled" },
                { "data": "note" },
                { "data": "updateTimeUtc" },
                { "data": null }
            ],
            "columnDefs": [{
                "targets": -1,
                "render": function (data, type, row, meta) {
                    return '<a href="/link/show-link/' + data.fwToken + '" class="btn btn-sm btn-outline-success">Share</a> <a href="/link/edit?id=' + data.id + '"class="btn btn-sm btn-outline-primary">Edit</a> <button class="btn btn-sm btn-outline-danger btn-delete">Delete</button>';
                }
            }, {
                "targets": 0,
                "data": "fwToken",
                "render": function (data, type, row, meta) {
                    return '<a href="/fw/' + data + '">' + data + '</a>';
                }
            }, {
                "targets": 1,
                "data": "originUrl",
                "render": function (data, type, row, meta) {
                    return '<a href="' + data + '" target="_blank">' + data + '</a>';
                }
            },
            {
                "targets": 2,
                "data": "isEnabled",
                "render": function (data, type, row, meta) {
                    return data ? '✔' : '❌';
                }
            },
            {
                "targets": 4,
                "data": "updateTimeUtc",
                "render": function (data, type, row, meta) {
                    return '<span data-utc-time="' + data + '">' + data + '</span>';
                }
            }]
        });

        //$(this).initUTCTime({
        //    daysAgo: ' days ago',
        //    hoursAgo: ' hours ago',
        //    minutesAgo: ' minutes ago',
        //    secondsAgo: ' seconds ago'
        //});

        $('.table-links tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            console.info(data);
            var cfm = confirm("Delete Confirmation?");
            if (cfm) {
                deleteLink(data.id);
                $(this).parents('tr').hide();
            }
        });
    });

    function deleteLink(linkId) {
        ajaxPostWithCSRFToken("delete", { linkId: linkId }, function (data) {
        });
    }
</script>
}
@section head{
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<a asp-action="Create" asp-controller="Link" class="btn btn-success">
    Create Link
</a>

<hr />

<!-- TODO: Use server side paging -->

<style>
    table {
        table-layout: fixed;
    }

    .wordwrap {
        word-wrap: break-word;
    }
</style>

@Html.AntiForgeryToken()
<table class="table table-bordered table-links">
    <thead>
        <tr>
            <th>Token</th>
            <th style="width: 40%;">Origin Url</th>
            <th>Enabled</th>
            <th>Note</th>
            <th>Update Time</th>
            <th>Action</th>
        </tr>
    </thead>
</table>