@section head{
<link href="~/lib/Chart.js/Chart.min.css" rel="stylesheet" />
<script src="~/lib/Chart.js/Chart.min.js"></script>
<script src="~/lib/jquery-dateFormat/jquery.dateFormat.min.js"></script>
}
@section scripts{
    <script>
        $(function() {
            renderReqPastWeekLineChart();
        });

        function renderReqPastWeekLineChart() {
            $.ajax({
                type: "POST",
                url: "/link/tracking-count-past-week",
                contentType: "application/json; charset=utf-8",  
                dataType: "json",
                success: function(data) {
                    const chData = data.item;

                    const trackingDates = [];
                    const requestCounts = [];
                    for (let idx in chData) {
                        if (chData.hasOwnProperty(idx)) {
                            trackingDates.push($.format.date(new Date(chData[idx].trackingDateUtc), "MM/dd/yyyy"));
                            requestCounts.push(parseInt(chData[idx].requestCount));
                        }
                    }

                    var chartData = {
                        labels: trackingDates,
                        datasets: [
                            {
                                label: '# Requests',
                                data: requestCounts,
                                borderColor: '#0072BC',
                                lineTension: 0
                            }]
                    };

                    var pastWeekCounterCtx = document.getElementById('pastweek-counter-canvas');
                    var pastWeekCounterChart = new Chart(pastWeekCounterCtx, {
                        type: 'line',
                        data: chartData
                    });
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h6>Request / Past week</h6>
                <div class="pastweek-counter-section">
                    <canvas id="pastweek-counter-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>

