@model ShowLinkViewModel
@{
    var actionLink = Url.Action("Forward", "Link", new { token = Model.Token });
    var url = $"{Context.Request.Scheme}://{Context.Request.Host}{actionLink}";
}
@section scripts{
    <script src="~/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script>
    $(function () {
        $(".qrcode").qrcode('@url');

        $(".btn-copy").click(function() {
            const el = document.createElement('textarea');
            el.value = '@url';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        });
    });
    </script>
}

<div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
        <div class="card">
            <h6 class="card-header">
                Share Your Link
            </h6>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-10 col-12">
                        <input id="input-link-url" type="text" value="@url" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col">
                        <button class="btn btn-block btn-outline-success btn-copy">Copy</button>
                    </div>
                </div>

                <section class="qrcode mt-3 text-center align-content-center"></section>
            </div>
        </div>
    </div>
</div>