<fluent-dialog id="qrCodeModal" type="modal" aria-labelledby="qrCodeModalLabel">
    <fluent-dialog-body>
        <span slot="title" id="qrCodeModalLabel">QR Code</span>
        <div class="qr-dialog-body">
            <canvas id="qrCodeCanvas"></canvas>
            <code id="qrCodeUrl" class="break-text"></code>
        </div>
        <fluent-button slot="action" appearance="secondary" type="button" data-dialog-close>Close</fluent-button>
    </fluent-dialog-body>
</fluent-dialog>