<fluent-dialog class="elf-dialog qr-dialog" id="qrCodeModal" type="modal" aria-labelledby="qrCodeModalLabel">
    <fluent-dialog-body>
        <span slot="title" id="qrCodeModalLabel">QR Code</span>
        <div class="qr-dialog-body">
            <canvas id="qrCodeCanvas"></canvas>
            <code id="qrCodeUrl" class="break-text"></code>
        </div>
        <div slot="action" class="dialog-footer">
            <fluent-button appearance="secondary" type="button" data-dialog-close>Close</fluent-button>
        </div>
    </fluent-dialog-body>
</fluent-dialog>