<h2 mat-dialog-title>Link</h2>
<form [formGroup]="editLinkForm" (ngSubmit)="submitForm()" novalidate>
    <mat-dialog-content class="edit-link-dialog-content d-flex flex-column">
        <mat-form-field>
            <input matInput type="url" placeholder="Origin Url" formControlName="originUrl">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Note" formControlName="note">
        </mat-form-field>
        <div class="row g-2">
            <div class="col d-flex flex-column">
                <mat-form-field>
                    <input matInput placeholder="Aka" formControlName="akaName">
                </mat-form-field>
            </div>
            <div class="col d-flex flex-column">
                <mat-form-field>
                    <input matInput type="number" placeholder="TTL" formControlName="ttl" min="0">
                    <span matSuffix>s</span>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="tags-chip-list">
            <mat-label>Tags</mat-label>
            <mat-chip-list #chipList aria-label="Tags selection">
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                    {{tag}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input 
                placeholder="New tag..." 
                #tagInput 
                [formControl]="tagCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-checkbox formControlName="isEnabled">Enable</mat-checkbox>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <a mat-flat-button mat-dialog-close>Cancel</a>
        <button type="submit" mat-flat-button color="primary" cdkFocusInitial
            [disabled]="!editLinkForm.valid || isBusy">
            {{ isBusy ? 'Saving...' : 'Save'}}
        </button>
    </mat-dialog-actions>
</form>