@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <FluentPersona Name="@context.User.Identity?.Name" ImageSize="36px">
        </FluentPersona>
        <FluentSpacer Width="20" />
        <FluentButton Appearance="Appearance.Lightweight" @onclick="BeginLogOut">Log out</FluentButton>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
