@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<style>
    .nav-link {
        color: white;
    }

    .nav-username {
        margin-right: 10px;
    }
</style>

<AuthorizeView>
    <Authorized>
        <span class="nav-username">@context.User.Identity?.Name</span>

        <FluentButton Appearance="Appearance.Lightweight" @onclick="BeginLogOut">Log out</FluentButton>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
