@inherits LayoutComponentBase

<style>
    fluent-card {
        padding: 20px;
    }

    .elf-main {
        min-width: 0;
        width: 100%;
    }
</style>

<div id="container" @ref="container">
    <FluentHeader>
        Elf Admin

        <FluentSpacer />

        <LoginDisplay />
    </FluentHeader>

    <div class="d-flex elf-body-wrapper">
        <aside class="duck-nav">
            <NavMenu />
        </aside>
        <div class="elf-main me-3 ms-3">
            @Body
        </div>
    </div>
</div>