<kendo-toolbar>
    <kendo-toolbar-button [svgIcon]="plusIcon" text="New" (click)="addNewTag()">
    </kendo-toolbar-button>
    <kendo-toolbar-button [svgIcon]="arrowRotateCwIcon" (click)="getTags()">
    </kendo-toolbar-button>
</kendo-toolbar>

<div class="tags-container">
    <kendo-loader [type]="'pulsing'" [size]="'medium'" *ngIf="isLoading">
    </kendo-loader>

    <div class="container-fluid mt-3">
        <kendo-chip *ngFor="let tag of tags" [label]="tag.name" [removable]="true" (contentClick)="update(tag)"
            (remove)="remove(tag)">
        </kendo-chip>
    </div>
</div>

<edit-tag-dialog [model]="tagDataItem" (save)="onTagUpdate($event)" (cancel)="onCancelTagUpdate()">
</edit-tag-dialog>

<kendo-dialog title="Deletion confirm" *ngIf="deleteTagDialogOpened" (close)="deleteTagDialogClose()" [width]="350">
    <p class="text-center m-3">
        Are you sure want to delete this tag?
    </p>

    <kendo-dialog-actions>
        <button kendoButton (click)="deleteTagDialogClose()">
            Cancel
        </button>
        <button kendoButton (click)="deleteTag()">
            Confirm
        </button>
    </kendo-dialog-actions>
</kendo-dialog>