<div class="position-fixed">
    <div class="container-fluid mt-3 mb-3">
        <button kendoButton class="me-2" (click)="addNewTag()">
            <i class="bi-plus"></i>
            New
        </button>
        <button kendoButton (click)="getTags()">
            <i class="bi-arrow-clockwise"></i>
        </button>
    </div>
</div>

<div class="tags-container">
    <hr />
    <kendo-loader [type]="'pulsing'" [size]="'medium'" *ngIf="isLoading">
    </kendo-loader>

    <div class="container-fluid mt-3">
        <kendo-chip *ngFor="let tag of tags" [label]="tag.name" [removable]="true" (contentClick)="update(tag)"
            (remove)="remove(tag)">
        </kendo-chip>
    </div>
</div>