<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <location>
    <system.webServer>
      <security xdt:Transform="InsertIfMissing">
        <requestFiltering removeServerHeader="true" />
      </security>
      <httpProtocol xdt:Transform="InsertIfMissing">
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="x-frame-options" value="SAMEORIGIN" />
          <add name="x-xss-protection" value="1" />
          <add name="feature-policy" value="camera 'none'; microphone 'none'; payment 'none'; usb 'none'; accelerometer 'none'" />
          <add name="content-security-policy" value="form-action 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

</configuration>