body {
    padding-top: 75px;
}

a {
    color: #2b579a;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #2b579a;
        text-decoration: none
    }

.page-item.active .page-link {
    background-color: #2b579a;
    border-color: #2b579a;
}

.bg-moonglade-blue {
    background-color: #2a579a !important;
}

.navbar {
    box-shadow: 0 0 8px #666;
    padding: .4rem 1rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 44px;
}

.footer {
    position: absolute;
    bottom: 1px;
    width: 100%;
    white-space: nowrap;
    height: 44px;
    line-height: 44px; /* Vertically center the text there */
}
