<div class="container-fluid">
    <div>
        <kendo-multiselecttree placeholder="Search by tags" kendoMultiSelectTreeExpandable
            [kendoMultiSelectTreeHierarchyBinding]="tagTreeItems" [textField]="'name'" [valueField]="'id'"
            [childrenField]="'items'" [expandedKeys]="['0']" [(value)]="tagsComplexArrayValue">
        </kendo-multiselecttree>

        <button kendoButton iconClass="bi-search" (click)="searchByTags()">
        </button>
    </div>

    <kendo-grid [data]="gridView" kendoGridSelectBy="id" [reorderable]="true" [resizable]="true" [pageSize]="pageSize"
        [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" (edit)="editLinkHandler($event)"
        (remove)="removeLinkHandler($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoButton (click)="addNewLink()">
                <i class="bi-plus"></i>
                New
            </button>
            <button kendoButton iconClass="bi-arrow-clockwise" (click)="getLinks(true)"></button>

            <kendo-textbox class="search-box-token-note" placeholder="Search token or note" [clearButton]="true"
                [(ngModel)]="searchTerm">
                <ng-template kendoTextBoxSuffixTemplate>
                    <kendo-textbox-separator></kendo-textbox-separator>
                    <button kendoButton fillMode="clear" class="send-button" iconClass="bi-search"
                        (click)="getLinks(true)"></button>
                </ng-template>
            </kendo-textbox>

            <kendo-loader [type]="'pulsing'" [size]="'medium'" *ngIf="isLoading">
            </kendo-loader>
            <kendo-grid-spacer></kendo-grid-spacer>
        </ng-template>

        <kendo-grid-column field="fwToken" title="Token" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a href="{{ENV.elfApiBaseUrl}}/fw/{{dataItem.fwToken}}" target="_blank">{{dataItem.fwToken}}</a>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="originUrl" title="Origin Url" [width]="300">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a href="{{dataItem.originUrl}}" class="crop" target="_blank">{{dataItem.originUrl}}</a>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="note" title="Note">
        </kendo-grid-column>

        <kendo-grid-column field="akaName" title="Aka" [width]="150">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="d-flex align-items-center">
                    {{dataItem.akaName ?? '/' }}
                    <span class="toolbar-spacer"></span>
                    <button kendoButton iconClass="bi-clipboard" *ngIf="dataItem.akaName" (click)="copyAka(dataItem)">
                    </button>
                </div>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="tags" title="Tags" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-chip *ngFor="let tag of dataItem.tags" [label]="tag.name">
                </kendo-chip>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="isEnabled" title="Enabled" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [(ngModel)]="dataItem.isEnabled" kendoCheckBox
                    (change)="checkLink(dataItem.id, dataItem.isEnabled)" />
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="ttl" title="TTL" [width]="100">
        </kendo-grid-column>

        <kendo-grid-column field="updateTimeUtc" title="Update Time (UTC)" [width]="180">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem?.updateTimeUtc | date:'yyyy-MM-dd HH:mm'}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column title="Action" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton iconClass="bi-clipboard" (click)="copyUrl(dataItem)">
                </button>

                <button kendoButton (click)="shareLink(dataItem)" iconClass="bi-share">
                </button>

                <button kendoGridEditCommand iconClass="bi-pencil">
                </button>

                <button kendoGridRemoveCommand iconClass="bi-trash">
                </button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>

<edit-link-dialog [model]="linkDataItem" (save)="onLinkUpdate($event)" (cancel)="onCancelLinkUpdate()">
</edit-link-dialog>

<kendo-dialog title="Deletion confirm" *ngIf="deleteLinkDialogOpened" (close)="deleteLinkDialogClose()" [width]="350">
    <p class="text-center m-3">
        Are you sure want to delete this link?
    </p>

    <kendo-dialog-actions>
        <button kendoButton (click)="deleteLinkDialogClose()">
            Cancel
        </button>
        <button kendoButton (click)="deleteLink()" [primary]="true">
            Confirm
        </button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Share" *ngIf="shareLinkDialogOpened" (close)="shareLinkDialogClose()" [width]="350">
    <div class="text-center">
        <kendo-qrcode [value]="qrUrl" class="qr-code" errorCorrection="M" [size]="250">
        </kendo-qrcode>
    </div>

    <div class="text-center">
        <code>{{ENV.elfApiBaseUrl}}/fw/{{ currentShareLink.fwToken }}</code> <br />
        <code *ngIf="currentShareLink.akaName">{{ENV.elfApiBaseUrl}}/aka/{{ currentShareLink.akaName }}</code>
    </div>

    <kendo-dialog-actions>
        <button kendoButton (click)="shareLinkDialogClose()" [primary]="true">
            Close
        </button>
    </kendo-dialog-actions>
</kendo-dialog>