.search-box-tags {
  width: 300px;
}

.search-box-token-note {
  width: 200px;
}

.fwtoken-cell-item {
  font-family: 'Cascadia Code', 'Consolas', 'Courier New', Courier, monospace;
}

.link-cursor {
  cursor: pointer;
}

.text-disabled {
  color: #AAA;
}