<div class="container-fluid">

    <mat-form-field class="queryTags-chip-list search-field-tags">
        <mat-chip-grid #chipList>
            <mat-chip-row *ngFor="let tag of queryTags;let indx=index;" [removable]="true" (removed)="remove(tag,indx)">
                {{tag.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-row>
            <input #tagInput placeholder="Search by tags" [formControl]="tagCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-grid>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button kendoButton iconClass="bi-search" (click)="searchByTags()">
    </button>

    <mat-form-field class="search-field ms-3">
        <input matInput type="search" placeholder="Search by token or note" [(ngModel)]="searchTerm">
        <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button kendoButton iconClass="bi-search" (click)="search()">
    </button>
</div>

<div class="container-fluid">
    <kendo-grid [data]="gridView" kendoGridSelectBy="id" [reorderable]="true" [resizable]="true" [pageSize]="pageSize"
        [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" (edit)="editLinkHandler($event)"
        (remove)="removeLinkHandler($event)">
        <ng-template kendoGridToolbarTemplate>
            <button kendoButton (click)="addNewLink()">
                <i class="bi-plus"></i>
                New
            </button>
            <button kendoButton iconClass="bi-arrow-clockwise" (click)="getLinks(true)"></button>
            <kendo-loader [type]="'pulsing'" [size]="'medium'" *ngIf="isLoading">
            </kendo-loader>
            <kendo-grid-spacer></kendo-grid-spacer>
        </ng-template>

        <kendo-grid-column field="fwToken" title="Token" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a href="{{ENV.elfApiBaseUrl}}/fw/{{dataItem.fwToken}}" target="_blank">{{dataItem.fwToken}}</a>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="originUrl" title="Origin Url" [width]="300">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a href="{{dataItem.originUrl}}" class="crop" target="_blank">{{dataItem.originUrl}}</a>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="note" title="Note">
        </kendo-grid-column>

        <kendo-grid-column field="akaName" title="Aka" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="d-flex align-items-center">
                    {{dataItem.akaName ?? '/' }}
                    <button kendoButton iconClass="clipboard" *ngIf="dataItem.akaName" (click)="copyAka(dataItem)">
                    </button>
                </div>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="tags" title="Tags" [width]="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-chip *ngFor="let tag of dataItem.tags" [label]="tag.name">
                </kendo-chip>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="isEnabled" title="Enabled" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [(ngModel)]="dataItem.isEnabled" kendoCheckBox
                    (change)="checkLink(dataItem.id, dataItem.isEnabled)" />
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="ttl" title="TTL" [width]="100">
        </kendo-grid-column>

        <kendo-grid-column field="updateTimeUtc" title="Update Time (UTC)" [width]="180">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem?.updateTimeUtc | date:'yyyy-MM-dd HH:mm'}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column title="Action" [width]="200">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton iconClass="bi-clipboard" (click)="copyUrl(dataItem)">
                </button>

                <button kendoButton (click)="shareLink(dataItem)" iconClass="bi-share">
                </button>

                <button kendoGridEditCommand iconClass="bi-pencil">
                </button>

                <button kendoGridRemoveCommand iconClass="bi-trash">
                </button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>


<kendo-dialog title="Deletion confirm" *ngIf="deleteLinkDialogOpened" (close)="deleteLinkDialogClose()" [width]="350">
    <p class="text-center m-3">
        Are you sure want to delete this link?
    </p>

    <kendo-dialog-actions>
        <button kendoButton (click)="deleteLinkDialogClose()">
            Cancel
        </button>
        <button kendoButton (click)="deleteLink()" [primary]="true">
            Confirm
        </button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Share" *ngIf="shareLinkDialogOpened" (close)="shareLinkDialogClose()" [width]="350">

    <qrcode [qrdata]="qrUrl" [allowEmptyString]="true" [cssClass]="'center'" [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
        [width]="300"></qrcode>

    <div class="text-center">
        <code>{{ENV.elfApiBaseUrl}}/fw/{{ currentShareLink.fwToken }}</code> <br />
        <code *ngIf="currentShareLink.akaName">{{ENV.elfApiBaseUrl}}/aka/{{ currentShareLink.akaName }}</code>
    </div>

    <kendo-dialog-actions>
        <button kendoButton (click)="shareLinkDialogClose()" [primary]="true">
            Close
        </button>
    </kendo-dialog-actions>
</kendo-dialog>