/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";

html,
body {
  height: 100%;
}

body {
  padding-top: 52px;
}

a {
  text-decoration: none;
}
