@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-utilities.css";
@import "elf.css";

html,
body {
  height: 100%;
}

.flex-spacer {
  flex-grow: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.z-index-1 {
  z-index: 1;
}

.z-index-999 {
  z-index: 999;
}

a {
  text-decoration: none;
}

.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.k-chart {
  border-style: none;
}