@inject NavigationManager navigationmanager


<FluentStack Orientation="Orientation.Vertical">
    <FluentNavMenu Collapsible="false" Title="Main menu" Width="200" Style="margin-left: 10px">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Links</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.TagMultiple())" Href="/Tags">Tags</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.ChartMultiple())" Href="/Report">Report</FluentNavLink>
    </FluentNavMenu>

    <FluentFooter Style="padding-left: 10px; width: 200px;">
         <FluentDivider Style="width: 100%; margin-bottom: 10px" Role="DividerRole.Presentation"></FluentDivider>
        <div style="text-align: center;">
            <a href="https://github.com/EdiWang/Elf" target="_blank">GitHub</a>
        </div>
    </FluentFooter>
</FluentStack>

@code {
    private string target;
    protected override void OnInitialized()
    {
        navigationmanager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        Uri uri = new Uri(e.Location);
        target = uri.Segments.Length > 1 ? uri.Segments[1] : "";
        
        StateHasChanged();
    }

    private Appearance SetAppearance(string location) => (string.Equals(location, target,
    StringComparison.OrdinalIgnoreCase)) ? Appearance.Neutral : Appearance.Stealth;
}
